body{
  background-color: rgb(155, 195, 253);

background-size:cover;
background-repeat:no-repeat;
font-family: 'Arial', sans-serif;
display:flex;
flex-direction:column;
min-height:100vh;
margin:0;
align-items:center;
justify-content:center;
}
#content-wrapper{
background:white;
display:flex;
flex-direction:column;
min-height:100vh;
width:65vw;
margin:4em;
padding:2.5em;
}

header{
display:flex;
flex-direction:column;
align-items:center;
font-size:60px;

margin-bottom:60px;
border-bottom:1px solid black;
}

.menu{
display:flex;
flex-direction:row;
justify-content:center;
margin-bottom:60px;
text-align: center;
list-style: none;
}
.menu li{
  display: inline;
  border: 1px solid rgb(0, 0, 0);
  margin: 2px;
  padding: 5px;
  background: rgb(243, 243, 243);
}
.menu a {
  text-decoration: none;
}
.menu a:hover{
color:rgb(0, 0, 0);
}


/*media queries*/

@media screen and (max-width:1481px){
ul li{
font-size:13px;}
}
@media screen and (max-width:1311px){
ul{
  display:flex;
  flex-direction:column;
  margin-top: 80px;
}
ul li{
  font-size:16px;
}
}
.horario{
  overflow-x:auto;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
.volver{
  border: 1px solid rgb(0, 0, 0);
  margin: 2px;
  padding: 5px;
  background: rgb(243, 243, 243);
  text-decoration: none;
}

.center{
  text-align: center;
  background-color: rgb(203, 221, 248);
}
.title{
  text-align: center;
}

#cita{
  display: flex;
  justify-content: center;
}
#textcita{
margin-left: 0%;
margin-right: 10%;
}

#imagecita img {
  width: 40%;
  margin-left: 40%;
}